h1, h2, h3 {
    color: #4a3cba;
    font-family: Arial, serif;
    text-align: center;
}

.div {
    color: #4a3cba;
    font-family: Arial, serif;
    text-align: center;
}

table {
    font-family: Arial, serif;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    width: 800px;
}

body {
    background: #d8f0ff;
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.block {
    font-family: Arial, serif;
    text-align: center;
}

