<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>

    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h1>CAR CATALOGUE</h1>
    <h2>Main page</h2>

    <form th:action="@{/sorting}" method="get">
    <p><select name="sorting">
        <option th:disabled="${''}" >select attribute</option>
        <option th:value="${'name'}">name</option>
        <option th:value="${'speed'}">speed</option>
        <option th:value="${'volume'}">engine capacity</option>
        <option th:value="${'type'}">type</option>


    </select></p>
    <p><input type="submit" value="sorting"/></p>
    </form>


    <form th:action="@{/search}" method="get">
        <p>Search by name</p>
        <p><label><input type="search" placeholder="quick search" name="search"/></label> <input type="submit" value="search"/></p>

    </form>

    <div class="div">

        <h3>List of cars</h3>
        <!--/*@thymesVar id="carList" type="com.andrewYurkevich.model.Car"*/-->

        <form th:action="@{/newCar}">
            <button type="submit">create new car</button>
        </form>
        <br/>
        <table>

            <tr>
                <th>ID</th>
                <th>NAME OF CAR</th>
                <th>MAX SPEED</th>
                <th>ENGINE CAPACITY</th>
                <th>TYPE</th>
                <th>UPDATING</th>
                <th>DELETING</th>

            </tr>


            <th:block th:each="car : ${carList}">

            <tr>
                <td th:text="${car.id}"> </td>
                <td><a th:href="@{/viewCar/(id=${car.id})}"><p th:text="${car.name}"></p></a></td>
                <td th:text="${car.speed}"></td>
                <td th:text="${car.volume}"></td>
                <td th:text="${car.type}"></td>
                <td><a th:href="@{/updateCar/(id=${car.id})}">update Car</a></td>
                <td><a th:href="@{/deleteCar/(id=${car.id})}">delete Car</a></td>


            </tr>

            </th:block>

        </table>

    </div>
</body>
</html>