<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>

    <title>View car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
    <h1>UPDATE CAR</h1>
    <!--/*@thymesVar id="createdCar" type="com.andrewYurkevich.model.Car"*/-->
    <div class="block">

        <form th:action="@{/updatedCar/(id=${editCar.id})}" method="post" th:object="${editCar}">
            <p th:text="'id of car is '+${editCar.id}"></p>

            <p><label><input type="text" value="${editCar.name}" th:field="*{name}"/></label></p>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

            <p><label><input type="text" value="${editCar.speed}" th:field="${editCar.speed}"/></label></p>
            <p th:if="${#fields.hasErrors('speed')}" th:errors="*{speed}">Name Error</p>

            <p><label><input type="text" value="${editCar.volume}" th:field="${editCar.volume}"/></label></p>
            <p th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}">Name Error</p>

            <p><label><input type="text" value="${editCar.type}" th:field="${editCar.type}"/></label></p>
            <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</p>

            <p><input type="submit" value="Submit" /></p>

        </form>


        <p><a href="/">main page</a> <button type="reset" onclick="history.back()">Back</button></p>

    </div>
</body>
</html>