<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>

    <title>View car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<h1>UPDATED CAR SUCCESSFUL</h1>

<p th:text="'id of car is '+${createdCar.id}"></p>
<p th:text="'name of car is '+${createdCar.name}"></p>
<p th:text="'speed of car is '+${createdCar.speed}"></p>
<p th:text="'volume of car is '+${createdCar.volume}"></p>
<p th:text="'type of car is '+${createdCar.type}"></p>




<a href="/">main page</a>
<button type="reset" onclick="history.back()">Back</button>
</body>
</html>