<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>

        <title>View car</title>
        <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <h1>REVIEW CAR</h1>
        <!--/*@thymesVar id="createdCar" type="com.andrewYurkevich.model.Car"*/-->

        <div class="block">

            <p th:text="'id of car is '+${viewCar.id}"></p>
            <p th:text="'name of car is '+${viewCar.name}"></p>
            <p th:text="'speed of car is '+${viewCar.speed}"></p>
            <p th:text="'engine capacity of car is '+${viewCar.volume}"></p>
            <p th:text="'type of car is '+${viewCar.type}"></p>



            <a th:href="@{/deleteCar/(id=${viewCar.id})}">delete Car</a>

            <a th:href="@{/newCar}">create new Car</a>
            <a th:href="@{/}">main page</a>
            <a th:href="@{/updateCar/(id=${viewCar.id})}">update Car</a>
        </div>

    </body>
</html>